* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  overflow: hidden;
  background-color: black;
}

h1 {
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

canvas {
  display: none; /* Hide canvas initially */
  position: absolute;
}

#startScreen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
}

#startButton {
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
  margin-top: 30px;
}

#gameOver {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
  font-family: Arial, sans-serif;
  text-align: center;
}

#playAgain {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 24px;
  cursor: pointer;
}
